header{
	width: 100%;
	height: 100px;
	background: #0e2c4e;
}
header>.header_wrap{
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	display: flex;
}
header>.header_wrap>.nav_left{
	width: 40%;
	height: 100%;
	padding-top: 50px;
	float: left;
}
header>.header_wrap>.nav_left>ul{
	width: 100%;
	height: 100%;
}
header>.header_wrap>.nav_left>ul>li{
	width: 33.333%;
	float: left;
	text-align: center;
	position: relative;
}
header>.header_wrap>.nav_left>ul>li>a{
	display: block;
	padding: 15px 30px 14px 30px;
	color: #fff;
}
header>.header_wrap>.nav_left>ul>li:hover>a{
	color: #c3a07d;
	transition: all 0.4s ease-in-out;
}
header>.header_wrap>.nav_right>ul>li:last-child>a{
	color: #c3a07d;
}
header>.header_wrap>.nav_left>ul>li:hover>i{
	width: 42px;
	height: 2px;
	display: inline-block;
	background: #c3a07d;
	position: absolute;
	bottom: 0;
	left: 65px;
	transition: all 0.4s ease-in-out;
}
header>.header_wrap>.nav_right>ul>li:last-child>i{
	width: 42px;
	height: 2px;
	display: inline-block;
	background: #c3a07d;
	position: absolute;
	bottom: 0;
	left: 65px;
}
header>.header_wrap>.nav_left>ul>li>.sun{
	width: 160px;
	height: 136px;
	background: rgba(255,255,255,0.8);
	padding: 14px 30px;
	text-align: left;
	position: absolute;
	top: 50px;
	left: 30px;
	margin-top: 10px;
	transition: transform 0.2s linear;
	opacity: 0;
	z-index: -1;
}
header>.header_wrap>.nav_left>ul>li>.sun>li{
	height: 30px;
	font-size: 14px;
}
header>.header_wrap>.nav_left>ul>li>.sun>li>a{
	color: #333;
}
header>.header_wrap>.nav_left>ul>li>.sun>li:hover>a{
	color: #c3a07d;
}
header>.header_wrap>.nav_left>ul>li>.sun>li:hover>i{
	display: block;
	width: 12px;
	height: 2px;
	background: #c3a07d;
	position: absolute;
	top: 23px;
	left: 0;
	transition: all 0.3s ease-in-out;
}
header>.header_wrap>.nav_left>ul>li>.sun>li:nth-child(2):hover>i{
	position: absolute;
	top: 53px;
}
header>.header_wrap>.nav_left>ul>li>.sun>li:nth-child(3):hover>i{
	position: absolute;
	top: 83px;
}
header>.header_wrap>.nav_left>ul>li:hover>.sun{
	transform: translateY(-10px);
	opacity: 1;
	z-index: 100;
}
header>.header_wrap>.nav_left>ul>li:nth-child(3)>.sun{
	width: 600px;
	padding: 14px 0 14px 30px;
}
header>.header_wrap>.nav_left>ul>li:nth-child(3)>.sun>li{
	width: 110px;
	float: left;
	font-size: 16px;
}
header>.header_wrap>.nav_left>ul>li:nth-child(3)>.sun>li>span{
	display: block;
	padding-bottom: 8px;
	text-align: center;
}
header>.header_wrap>.nav_left>ul>li:nth-child(3)>.sun>li>a{
	font-size: 14px;
	color: #464646;
	display: block;
	padding-bottom: 8px;
	text-align: center;
}
header>.header_wrap>.nav_left>ul>li:nth-child(3)>.sun>li>a:first-child{
	font-size: 16px;
}
header>.header_wrap>.nav_left>ul>li:nth-child(3)>.sun>li>a:hover{
	color: #c3a07d;
}
header>.header_wrap>.logo{
	width: 20%;
	height: 100%;
	text-align: center;
	float: left;
	padding-top: 16px;
}
header>.header_wrap>.nav_right>ul>li:first-child>a{
	color: #fff;
}
header>.header_wrap>.nav_right>ul>li:first-child>i{
	opacity: 0;
}
header>.header_wrap>.nav_right>ul>li:hover:first-child>i{
	opacity: 1;
}
header>.header_wrap>.btn{
	width: 120px;
	height: 32px;
	position: absolute;
	right: 16%;
	top: 10px;
	font-size: 12px;
}
header>.header_wrap>.btn>a{
	color: #fff;
}
header>.header_wrap>.btn>a>i{
	display: inline-block;
	padding: 10px;
}
header>.header_wrap>.btn>a:nth-child(2)>i>img{
	margin-top: -2px;
}
header>.header_wrap>.btn>#btn{
	display: none;
}
header>.header_wrap>.btn>#btn>input{
	width: 150px;
	height: 20px;
	background: #fff;
	position: absolute;
	top: 5px;
	left: -106%;
	padding-left: 10px;
}
header>.header_wrap>.btn>#btn>.anniu{
	display: inline-block;
	width: 26px;
	height: 26px;
	background: #C29F7C;
	position: absolute;
	top: 5px;
	left: 23%;
	cursor: pointer;
	text-align: center;
	line-height: 26px;
}
section{
	width:100%;
}
section>.banner{
	width:100%;
	height: 445px;
}
section>.banner>i{
	display: block;
	height: inherit;
	background: url(../img/contact-banner.jpg) no-repeat center;
	background-size: cover;
}
section>.section-middle{
	width:1300px;
	height: 650px;
	margin:0px auto;
}
section>.section-middle>.section-middle-wrapper{
	width:1300px;
	height: 485px;
	margin:60px auto;
	position: relative;
}
section>.section-middle>.section-middle-wrapper>.section-middle-left>h6{
	width:500px;
	height: 30px;
	margin-bottom: 40px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-left>h6>i{
	width:31px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 2.5px;
	background: url(../img/section-left.png);
}
section>.section-middle>.section-middle-wrapper>.section-middle-left>h6>span{
	display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    font-size: 24px;
    color: #4d413b;
    position: relative;
	top: -7.5px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-left>.left-content>ul>li{
	margin-bottom:25px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right{
	width:650px;
	height: 485px;
	border-left:1px solid #CFC4BF;
	position: absolute;
	right:0px;
	top:0px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>p{
	font-size: 14px;
	text-align: center;
	margin-bottom: 50px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area{
	width:490px;
	height: 410px;
	margin:0px auto;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan{
	margin-left:80px;
	position: relative;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>b{
    font-size: 14px;
    color: #ff0000;
    margin-left: 8px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.b1{
	position: absolute;
	right: 62px;
	top:40px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.b2{
	position: absolute;
	right: 62px;
	top:97px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.b3{
	position: absolute;
	right: 62px;
	top:154px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.b4{
	position: absolute;
	right: 85px;
	top:250px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.inp2{
	margin-bottom: 10px;
	margin-top:10px;
	position: relative;
	left:10px;
	width: 250px;
	height: 30px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.span1{
	position: relative;
	left:20px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>input{
	outline: none;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>#xm{
	position: relative;
	left:44px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>#yx{
	position: relative;
	left:44px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan span{
	font-size:12px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan p{
	font-size: 12px;
	color:#888;
	margin-bottom: 15px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>textarea{
	position: relative;
	left:44px;
	outline: none;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.yzm{
	position: relative;
	top:5px;
	left:5px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.inp3{
	position: relative;
	top:5px;
	left:33px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>img{
	position: relative;
	left:45px;
	top:3px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>div{
	cursor: pointer;
	font-size:12px;
	margin-top:5px;
	position: absolute;
	right: -53px;
	bottom: 74px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn{
	position: absolute;
	right: 17%;
	bottom: -64px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn>.btn1,.btn2{
	width:110px;
	height: 30px;
	background: #C59E7D;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-right: 20px;
	color: #fff;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn>.btn2{
	background: #bbb;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn>.btn1:hover{
	background: #9e7e4d;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn>.btn2:hover{
	background: rgb(143,143,143);
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>div>span{
	color:#fff;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn1{
	position: relative;
	left:60px;
	top:10px;
}
section>.section-middle>.section-middle-wrapper>.section-middle-right>.input-area>.liuyan>.btn2{
	background: #BBBBBB;
	position: relative;
	left:80px;
	top:10px;
}
footer{
	width:100%;
	height: 400px;
}
footer>.foot{
	width:100%;
	height: inherit;
}
footer>.foot>.foot-top{
	width:100%;
	height: 350px;
	background: #ECECEC;
}
footer>.foot>.foot-top>.foot-top-wrapper{
	width:1300px;
	height: inherit;
	margin:0px  auto;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-top{
	width:100%;
	height: 100px;
	border-bottom: 1px solid #D5D8DB;
	overflow: hidden;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-top>img{
	display: block;
	margin:19px auto;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left{
	width:930px;
	height: 190px;
	display: flex;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left ul{
	margin-right: 90px;
	margin-top: 30px;
	width:80px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left ul{
	position: relative;
    top: -17px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left ul:first-child{
	margin-left:20px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul>li:first-child{
	margin-bottom: 18px;
	color:#062949;
	font-weight: 400;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul:first-child>li:first-child:before{
	display: block;
	clear: both;
	content: "";
	background: url(../img/foot-list-one.png) no-repeat;
	height: 15px;
	width:16px;
	position: relative;
	left:-17px;
	top:20px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul:nth-child(2)>li:nth-child(1):before{
	display: block;
	clear: both;
	content: "";
	background: url(../img/foot-list-two.png) no-repeat;
	width:16px;
	height: 17px;
	position: relative;
	left:-22px;
	top:20px;
}footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul:nth-child(3)>li:nth-child(1):before{
	display: block;
	clear: both;
	content: "";
	background: url(../img/foot-list-three.png) no-repeat;
	width:16px;
	height: 17px;
	position: relative;
	left:-22px;
	top:20px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul:nth-child(4)>li:nth-child(1):before{
	display: block;
	clear: both;
	content: "";
	background: url(../img/foot-list-four.png) no-repeat;
	width:16px;
	height: 17px;
	position: relative;
	left:-22px;
	top:20px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul:nth-child(5)>li:nth-child(1):before{
	display: block;
	clear: both;
	content: "";
	background: url(../img/foot-list-five.png) no-repeat;
	width:16px;
	height: 17px;
	position: relative;
	left:-22px;
	top:20px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul>li{
	margin-bottom: 8px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul>li>a{
	color:#314D6A;
	font-size:14px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-left>ul>li>a:hover{
	color:#C3A07D;
	text-decoration: underline;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right{
	width:370px;
	height: 190px;
	float:right;
	position: relative;
	top:-190px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box{
	width: 240px;
/*	height: 110px;*/
	margin:30px auto;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h4{
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h6{
    position: relative;
    width: 240px;
    height: 32px;
    margin-top: 10px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h6>input{
	padding-left: 10px;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 100%;
    border: 1px solid #626262;
    font-size: 12px;
    color: #626262;
    padding: 0 50px 0 10px;
    background: #ececec;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h6>a{
	width:45px;
	height: 32px;
	display: block;
	background: url(../img/foot-search.png);
	position: absolute;
	right:0px;
	top:0px;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5{
	width: 100%;
    margin-top: 28px;
    position: relative;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>span{
	color:#bbb;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>p{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: inline-block;
    background-color: #626262;
    text-align: center;
    vertical-align: middle;
    transition: all .6s;
    cursor: pointer;
    margin: 0 4px;
    position: relative;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>.p{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: inline-block;
    background-color: #626262;
    text-align: center;
    vertical-align: middle;
    transition: all .6s;
    cursor: pointer;
    margin: 0 4px;
    position: relative;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>div>.weixin{
	background: url(../img/foot-weixin.png);
	display: block;
	width:18px;
	height: 14px;
	margin:7px auto;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>.p>#QR-code{
	width:118px;
	height: 122px;
	position: absolute;
	top:0px;
	left:-118px;
	transition: transform 0.2s linear;
	opacity: 0;
	z-index: -1;
}

footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>.p:hover>#QR-code{
	transform: translateY(-77px);
	opacity: 1;
	z-index: 100;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>.p:hover{
	background:#C3A07D;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>p>.qq{
	background: url(../img/foot-list-qq.png);
	display: block;
	width:14px;
	height: 14px;
	margin:7px auto;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>p>.weibo{
	background: url(../img/foot-list-weibo.png);
	display: block;
	width:17px;
	height: 14px;
	margin:7px auto;
}
footer>.foot>.foot-top>.foot-top-wrapper>.foot-top-right>.foot-top-right-box>h5>p:hover{
	background:#C3A07D;
}
footer>.foot>.foot-bottom{
	width:1300px;
	height: 50px;
	margin:0px auto;
	position: relative;
}
footer>.foot>.foot-bottom>.foot-bottom-left{
	float: left;
}
footer>.foot>.foot-bottom>.foot-bottom-left>ul{
	display: flex;
	line-height: 50px;
}
footer>.foot>.foot-bottom>.foot-bottom-left>ul>li{
	margin-right: 10px;
}
footer>.foot>.foot-bottom>.foot-bottom-right{
	float: right;
	position: absolute;
	right: 0px;
}
footer>.foot>.foot-bottom>.foot-bottom-right>ul{
	display: flex;
	line-height: 50px;
}
footer>.foot>.foot-bottom>.foot-bottom-right>ul>li{
	margin-right: 15px;
}
footer>.foot>.foot-bottom>.foot-bottom-right>ul>li>span{
	position: relative;
	right:-7px;
	font-size: 12px;
	color: #bbb;
}
footer>.foot>.foot-bottom>div>ul>li>a{
	font-size:12px;
	color: #bbb;
}
footer>.foot>.foot-bottom>div>ul>li>a:hover{
	color:#C3A07D;
	text-decoration: underline;
}